<div class="content">
<% if AuthenticationHelper.logged_in?(session) && AuthenticationHelper.current_user(session).id == @course.teacher.id %>
  <h2><%= @course.name %> - <%= @assignment.name %></h2>
  <p>Use the Edit button to edit grades or assignment name.</p>
  <table border="3">
    <thead>
      <th>Student</th>
      <th>Grade</th>
    </thead>
    <% if @course.students %>
      <% @course.students.each do |student| %>
        <tr>
          <td><a href='/students/<%= student.id %>'><%= student.name %></a></td>
          <td><%= student.student_assignments.find_by(assignment_id: @assignment.id).grade %></td>
        </tr>
      <% end %>
    <% end %>
  </table><br>
  <a href='/courses/<%= @course.id %>/assignments/<%= @assignment.id %>/edit'><button>Edit</button></a><br><br>
  <form action='/courses/<%= @course.id %>/assignments/<%= @assignment.id %>' method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Assignment">
  </form><br>
<% else %>
  <p>ERROR: You must be logged in and own this course to view this page.</p>
<% end %>
</div>