<div class="content">
<% if AuthenticationHelper.logged_in?(session) %>
  <h1><%= @course.name %></h1>
  <table>
    <tr>
      <th>Student</th>
      <% if @course.assignments %>
        <% @course.assignments.each do |assignment| %>
          <th><%= assignment.name %></th>
        <% end %>
      <% end %>
    </tr>
    <% if @course.students %>
      <% @course.students.each do |student| %>
        <tr>
          <td><a href='/students/<%= student.id %>'><%= student.name %></a></td>
          <% student.student_assignments.joins(:assignment).where("assignments.course_id = ?", @course.id).order(:assignment_id).each do |sa| %>
            <td><%= sa.grade %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  <a href='/assignments/new'>Add Assignment</a>
  <a href='/courses'>My Courses</a>
<% else %>
  <p>There has been an error. Please return to the <a href='/'>homepage</a>.</p>
<% end %>
<br><br>
<a href='/'>Home</aa>
<a href='/logout'>Logout</a>
</div>