<div class="content">
<% if AuthenticationHelper.logged_in?(session) %>
  <h2><%= @course.name %></h2>
  <p>To edit, please use the buttons below the gradebook.</p>
  <table border="3">
    <thead>
      <th>Student</th>
      <% if @course.assignments %>
        <% @course.assignments.each do |assignment| %>
          <th padding: 5px><%= assignment.name %></th>
        <% end %>
      <% end %>
    </thead>
    <% if @course.students %>
      <% @course.students.each do |student| %>
        <tr>
          <td><a href='/students/<%= student.id %>'><%= student.name %></a></td>
          <% student.student_assignments.joins(:assignment).where("assignments.course_id = ?", @course.id).order(:assignment_id).each do |sa| %>
            <td><%= sa.grade ||= "" %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table><br>
  <button onclick="window.location.href='/courses/<%= @course.id %>/edit/grades';">Edit Grades</button>
  <button onclick="window.location.href='/courses/<%= @course.id %>/edit';">Edit Course</button><br><br>
<% else %>
  <p>There has been an error. You must be logged in to view this page.</p>
<% end %>
</div>